<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Dashboard</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
 </head>
<body>
 <nav class="navbar navbar-expand-lg" style="background-color: #223598;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color:white"><b>House Rental Service</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" style="color:green" aria-current="page" href="/admin">Home</a>
        </li>
      </ul>
      <form class="d-flex" role="search">     
        <button class="btn btn-primary me-2"><a href="/login" style="color:white;text-decoration:none">Logout</a></button>
      </form>
    </div>
  </div>
</nav><br>
<div class="container">

  <center><h2 style="color:blue">View Complaints</h2></center>
  <br>
  
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">User Mail</th>
      <th scope="col">Description</th>
      <th scope="col">Resolve Ticket</th>
    </tr>
  </thead>
  <tbody>
  <th:block th:each="complaint : ${complaints}">
    <tr>
      <td th:text="${complaint.houseId}"></td>
      <td th:text="${complaint.description}"></td>
      <td>
       <center>
            <form class="d-flex" role="search" action="#" th:action="@{'/removeComplaint/' + ${complaint.Id}}" method="post" style="width:400px;">
        
        <input class="form-control me-2" type="text" placeholder="Solution" name="solution" aria-label="Search">
        <button class="btn btn-outline-success me-2" type="submit">Resolve</button>
        </form>
     </center>
      
      
    </tr>
  </th:block>
  </tbody>
</table>


</div>
</body>
</html>